body {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    font-family: arial, helvetica, sans-serif, verdana, 'Open Sans';
}


/*jssor slider loading skin spin css*/

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*jssor slider bullet skin 052 css*/

.jssorb052 .i {
    position: absolute;
    cursor: pointer;
}

.jssorb052 .i .b {
    fill: #000;
    fill-opacity: 0.3;
}

.jssorb052 .i:hover .b {
    fill-opacity: .7;
}

.jssorb052 .iav .b {
    fill-opacity: 1;
}

.jssorb052 .i.idn {
    opacity: .3;
}


/*jssor slider arrow skin 053 css*/

.jssora053 {
    display: block;
    position: absolute;
    cursor: pointer;
}

.jssora053 .a {
    fill: none;
    stroke: #fff;
    stroke-width: 640;
    stroke-miterlimit: 10;
}

.jssora053:hover {
    opacity: .8;
}

.jssora053.jssora053dn {
    opacity: .5;
}

.jssora053.jssora053ds {
    opacity: .3;
    pointer-events: none;
}


/* Bullet Navigator */